.fname{
  font-family: 'Zeyada', cursive;
    font-weight: bold;

}
.about{
  color: #ff5d56;
  font-family: 'Berkshire Swash', cursive;
  font-weight: bold;
 
}
.profile-photo{
  background:url("../src/assets/Profile1.jpg") no-repeat;
  background-position-x:50vw;
  background-position-y: -11vh;
  background-size: 50vh ;
}

#ABOUT,#SKILLS,#EXPERIENCE{
  background-color: #292929;
}

.material-symbols-outlined {
  color: #ff5d56;
  font-size: xx-large;
  padding-top: 20px;
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24,
  
}

.hide-scroll::-webkit-scrollbar{
display: none;
}
@media screen and (max-width: 480px) {
  .profile-photo{
    background-position-y: -20vh;
    background-position-x:center;
    
  }
}